<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>阿里快递单 信息查询系统</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/baby-blue.css">
    <link rel="stylesheet" href="/static/css/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
    <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
</head>

<body>


<div class="pure-g-r" id="layout" style="letter-spacing:0">


    {% include "menu.html" %}


    <div id="right">

        <div class="header">
            <h1>客户端管理</h1>
        </div>

        <div id="content" style="text-align: center;margin-top: 30px">

            <label>当前最新版本:{{ c.0.version }}</label>
            <br/>
            <label>文件地址:{{ c.0.url }}</label>

            <br/>
            <br/>
            <br/>
            <label>更新版本</label>
            <form class="pure-form" action="/client_upload/" method="post"  enctype="multipart/form-data">
                    <input type="text" name="version" placeholder="输入版本号">
                    <input type="file" name="u_file">
                    <input type="submit" class="pure-button">
            </form>

        </div>

    </div>


</div>



</body>

</html>
