
<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open" >
        <a class="pure-menu-heading" href="/" style="text-transform:capitalize" >WayBill</a>

        <ul >

            <li id="index" >
                <a href="/">运单查询</a>
            </li>

            <li id="send">
                <a href="/send/">运单录入</a>
            </li>


            <li id="config" >
                <a href="/config/" >参数设定</a>
            </li>

            <li id="output">
                <a href="/output/" onclick="return confirm('从网络导出数据可能耗时较长,确定导出?')" target="_blank">导出数据</a>
            </li>

            <li id="output_img">
                <a href="/output_img/" onclick="return confirm('从网络导出图片可能耗时较长,确定导出?')" target="_blank">导出图片</a>
            </li>


            <li id="regist" class="menu-item-divided">
                <a href="/regist/" >注册用户</a>
            </li>

            {% if request.user.is_authenticated %}
            <li id="logout" >
                <a href="/logout/" >
                    <span>{{ request.user.username }}</span>
                    登出
                </a>
            </li>
            {% else %}
            <li id="login" >
                <a href="/login_page/" >登录用户</a>
            </li>
            {% endif %}

        </ul>

    </div>

</div>



