<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>阿里快递单 信息查询系统</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/baby-blue.css">
    <link rel="stylesheet" href="/static/css/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
    <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
    <script type="text/javascript">
        $(function(){
            //表格显示
            $("#myTable").tablesorter({
                widgets: ['zebra']
            })

            $("#regist").addClass("pure-menu-selected")

        })
    </script>
</head>

<body>


<div class="pure-g-r" id="layout" style="letter-spacing:0">


    {% include "menu.html" %}



    <div id="right">

        <div class="header">
            <h1>注册用户</h1>
        </div>

        <div id="content" style="text-align: center;margin-top: 30px">

            <form class="pure-form" action="/register/">

                <p>
                    用户名：
                    <input type="text" name="username">
                </p>
                <p>
                    登录密码：
                    <input type="password" name="password">
                </p>
                <p>
                    重复密码：
                    <input type="password" name="password2">
                </p>

                <p>-------------------个人信息-----------------</p>

                <p>
                    快递公司：
                    <input type="text" name="KuaiDiGongSi"><span style="color: red">*</span>
                </p>
                <p>
                    站点名称：
                    <input type="text" name="ZhanDianMingCheng">
                </p>
                <p>
                    站点代码：
                    <input type="text" name="ZhanDianDaiMa">
                </p>
                <p>
                    省份：
                    <input type="text" name="ShengFen">
                </p>
                <p>
                    地市：
                    <input type="text" name="DiShi">
                </p>
                <p>
                    县区：
                    <input type="text" name="XianQu">
                </p>
                <p>
                    乡镇：
                    <input type="text" name="XiangZhen">
                </p>
                <p>
                    街道：
                    <input type="text" name="JieDao">
                </p>
                <p>
                    姓名：
                    <input type="text" name="XingMing"><span style="color: red">*</span>
                </p>
                <p>
                    职务：
                    <input type="text" name="ZhiWu">
                </p>
                <p>
                    电话：
                    <input type="text" name="DianHua"><span style="color: red">*</span>
                </p>
                <p>
                    手机：
                    <input type="text" name="ShouJi">
                </p>
                <p>
                    QQ号码：
                    <input type="text" name="QQHaoMa">
                </p>
                <p>
                    经营地址：
                    <input type="text" name="JingYingDiZhi">
                </p>
                <p>
                    服务范围：
                    <input type="text" name="FuWuFanWei">
                </p>
                <p>
                    超区范围：
                    <input type="text" name="ChaoQuFanWei">
                </p>
                <p>
                    备注：
                    <input type="text" name="BeiZhu">
                </p>

                <p>-----------------------------------------</p>

                <p>
                    <input type="submit" value="注册" class="pure-button pure-button-primary">
                </p>
            </form>

        </div>

    </div>


</div>



</body>

</html>
